{% extends 'base.html' %}
{% load static %}
{% block title %}Datactive - Portfolio Xavier{% endblock %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'img/photo_lkd.jpg' %}"/> {% endblock favicon %}
{% block content %}
<div class="container row mx-auto h-100 my-lg-0 mt-5 pb-5" style="padding-top: 100px;">
    <h1 class="text-center my-5 link-info">Datactive, le module de performance de fiche google</h1>
    <div class="my-2 row">
        <div class="col-lg-8 col-12">
            <h4 class="text-info">Les objectifs :</h4>
            <p>
                Dans un monde professionnel où la présence d'une image sur internet est obligatoire, il semblait pertinent de créer des outils permettant de créer et suivre la progression de cette dernière sur internet.
                Datactive devait être cette application modulaire (c'est à dire qu'on pouvais acheter un ou plusieur modules de la plateforme),
                aidant les entreprise à créer et suivre leurs images sur internet et à voir position qui avait sur le web.
                Pour ma part une grande partie de mon travail à était de récolter de différentes manières les positions des fiches googles dans le google local pack selon une recherche.
            </p>
            <h4 class="text-info">Le contexte :</h4>
            <p>
                Lors de mon arrivée, sur le projet, certains modules  était déjà développer et d'autre rester à faire. Le projet était fait en
                <a href="{% url 'web:python-desc' %}" target="_blank" class="text-info">Python</a> sous le CMS
                <a href="https://www.djangoproject.com/start/overview/" target="_blank"  class="text-info">Django <i class="fa-solid fa-arrow-up-right-from-square"></i></a> avec une base de données
                <a href="{% url 'web:sql-desc' %}" target="_blank" class="text-info">SQL <i class="fa-solid fa-arrow-up-right-from-square"></i></a> sous le moteur MariaDb.
            </p>
            Datactive se divisés en plusieurs modules, certains été en place :
            <ul class="px-5">
                <li>
                    <b>E-réputation</b>: statistiques KPI du rendement de leur fiches
                </li>
                <li>
                    <b>Publication</b>:Wordpress, Insta, Facebook, LinkedIn
                </li>
                <li>
                    <b>Activation</b>: Saisis de données clients pour faire de l'emailing, sms
                </li>
            </ul>
            D'autres en cours de développement :
            <ul class="px-5">
                <li>
                    <b>Enrichissement</b>: Chercher et trouver de nouveaux contacts commerciaux pour enrichir leur CRM
                </li>
            </ul>
            et d'autres rester à faire :
            <ul class="px-5">
                <li>
                    <b>CRM</b>:Améliorer le suivi commercial / clientèle
                </li>
                <li>
                    <b>Performance</b>: Suivi et analyse de fiche Google
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-12 text-center m-auto py-3">
            <img src="{% static 'img/position_google.png' %}" class="w-100"/>
            <em>Image où Intech Ivry est dixième dans la recherche :<br>"école ingénerie informatique Paris"</em>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12 text-center m-auto py-3">
            <img src="{% static 'img/interface_performance.png' %}" class="w-100"/>
            <em>Image de l'interface avant la récupération des données.</em>
        </div>
        <div class="col-lg-8 col-12">
            <div class="my-2">
                <h4 class="text-info">L’enjeu :</h4>
                <p>
                    L'enjeu pour l'entreprise était primordiale, Avenir Data était avant une entreprise de service qui essaye de créer son propre produit et son image, en essayant de créer une plateforme multi-service complémentaire afin d'aider toutes sortes d'entreprises à améliorer leur communication, marketing & position sur internet.
                    En réunissant tous les outils pour l'optimisation de sa présence sur les réseaux et sur google et créer les campagnes ciblés aux bon clients.
                    Dans la particularité de mon travail les enjeux principaux étais de pouvoir correctement récolté la données lié à Google, correctement la stocké en base de données et pouvoir mettre en place une interface permettant à l'utilisateur de comprendre son placement sur google et l'améliorer.
                </p>
            </div>
            <div class="my-2">
                <h4 class="text-info">Les risques :</h4>
                <p>
                    Le tout premier risque était dans la récole fiable des données, Google n'aiment pas les bots... Autres que les leurs.
                    De ce fait, Google surveille tout ce qu'il se passe dans votre barre de recherche et le nombre de requêtes faites au serveur et via quelle IP. Alors pour éviter ce problème, nous avons dû y remédier.
                    Ensuite, il fallait aussi les bons KPI et la bonne interface afin de montrer que notre outil était plus rapide et concis, que si l'utilisateur allait faire sa recherche lui-même.
                </p>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <h4 class="text-info">Les étapes :</h4>
        <div class="col-lg-8 col-12">
            <ul>
                <li>
                    Ma première mission dans ce travail, a été de quantifier et d'organiser les tâches via l'outil GIT, en réalisant les users-stories et les schémas nécessaires au développement de cet outil.
                    Suite à ma connaissance en web Scraping et Django, je devais tout organiser, demander et vérifier les maquettes validées, vérifier les tâches de chacun et mettre en préproduction pour test et validation.
                    Tout en effectuant ma tâche de web scraping du Google local pack et de l'automatisation de cette dernière.
                </li>
                <li>
                    Tout d'abord, en évitant le blocage dans le moteur en lui-même, il valait mieux que je réécrive l'URL dans la barre de recherche plutôt qu'utiliser la page de recherche Google. Cela évitait aussi à notre bot de faire 2 actions de plus et donc de moins « spammer ».
                </li>
                <li>
                    En parallèle de ces recherches, il fallait construire et architecturer la base de données, afin de pouvoir gérer tout cela.
                </li>
                <li>
                    Ensuite même avec ce procédé, il peut arriver qu'en requêtant un certain nombre de fois par minute le serveur Google, celui-ci vous mettez un ban ip. 
                    Pour éviter la complexité de ce problème et les problèmes futurs que cela pourrait engendrer, j'ai dû trouver le moyen de résoudre ce problème.
                    Une partie de la solution a été de diviser les requêtes sur 2 serveurs dans un premier temps. Cela n'ayant pas suffi,
                    il a donc fallu mettre en place un système de détection d'erreur, et dans ce cas, redémarrer le programme afin qu'il puisse repartir de là où il s'arrête de lui-même,
                    en modifiant l'user-agent (l'user-agent d'un navigateur est comme sa carte d'identité.).
                </li>
                <li>
                    En parallèle, j'avais une personne sous mes ordres qui s'occupait de faire les maquettes et créer toutes les interfaces nécessaires pour la plateforme Datactive et commencer à créer la logique programme.
                </li>
                <li>
                    Une fois, cela fait, il ne manquait plus qu'à automatiser ce principe, aux heures voulues.
                    Et préparer tout le service métier et programme avec la personne sous mes ordres et à mettre en place dans notre backend de l'application pour l'interface.
                    Il fallait par exemple le lancer automatiquement toutes les semaines,
                    de manière gratuite pour que les nouveaux clients puissent tester l'outil puis enfin ne lancer le test que de façon mensuel ou hebdomadaire selon le plan d'abonnement du client.
                </li>
                <li>
                    Manquait plus que les tests en préproduction pour valider le travail et faire les dernières retouches sur le programme métier ou l'interface, 
                    si des erreurs étaient détectées, et tout envoyer sur le serveur de production après cela !                
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-12 text-center m-auto py-3">
            <img src="{% static 'img/schema_structure.png' %}" class="w-100"/>
            <em>Schéma de la base de données.</em>
        </div>
    </div>
    <div class="my-2">
        <h4 class="text-info">Mon ressenti :</h4>
        <p>
            Ce projet m'as permis de développer et de réellement appréhender toute l'envergure de Python, manipulation de données, nombre de librairies et possibilités importantes,
            CMS Web, Python est clairement l'un des langages les plus utilisés de par ça facilité d'appréhension et sa capacité à être optimisé jusqu'a être compilé en C.
            Le Scraping est vraiment une méthode intéressante surtout pour moi qui traite de la donnée. J'en connais maintenant sa source et comment la récupérer ce qui est un plus.
            Ma capacité à manipuler et à créer des programmes grâce aux multiples facettes de ce projet et Python, m'ont permis de grandement m'améliorer sur la réusabilitéde mon code, son optimisation et l'intérêt d'utiliser des librairies ou non selon la situation.
            Le projet Datactive était une bonne idée, un outil modulaire où les clients ne pouvaient payer que ce qu'ils utilisaient, mais la quantité de développement appliqué sur le produit, ne pouvait être mis sur des projets de services. Cela est un risque pour l'entreprise.
        </p>
        <p>
            Dans ma future carrière, je vais avoir de plus en plus cette situation de projet, tout ou partie d'une application, du début à la fin, cette tâche m'as notamment permis de comprendre toutes les problématiques liées à un produit et toute la gestion qui reste derrière.
            Cette expérience, me sera très certainement très utile, comme je peux le ressentir maintenant que je me suis mis à mon compte, toute la préparation (maquette, réunion, cahier des charges), planification (distribution et estimation des tâches) jusqu'à la mise en production d'un produit.
            Malheureusement, dans ce domaine, je pense que la meilleure expertise reste l'expérience, j'en ai déjà, mais pas suffisamment.
        </p>
    </div>
    <div class="col-lg-8 col-12 mt-5">
        <h5>Les compétences utilisés sur le projet sont :</h5>
        <ul class="px-5">
            <li>
                <a href="{% url 'web:sql-desc' %}" target="_blank" class="text-info">SQL (Manipulation & analyse des données)</a>
            </li>
            <li>
                <a href="{% url 'web:bdd_relationnal-desc' %}" target="_blank" class="text-info">Base de données relationnelles (Stockage & mise en relations des données)</a>
            </li>
            <li>
                <a href="{% url 'web:python-desc' %}" target="_blank" class="text-info">Python (Programme de récupération des données sur internet)</a>
            </li>
            <li>
                <a href="https://www.djangoproject.com/start/overview/" target="_blank" class="text-info">Django, framework web de Python <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-lg-4 col-12 mt-5">
        <h5>Autres liens :</h5>
        <ul>
            <li>
                <a href="https://pypi.org/project/selenium/" target="_blank" class="text-info">Selenium (librairie permettant la manipulation d'un navigateur) <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}