{% extends 'base.html' %}
{% load static %}
{% block title %}Datactive - Portfolio Xavier{% endblock %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'img/photo_lkd.jpg' %}"/> {% endblock favicon %}
{% block content %}
<div class="container row mx-auto h-100 my-lg-0 mt-5 pb-5" style="padding-top: 100px;">
    <h1 class="text-center my-5 link-info">Datactive, le logiciel d'optimisation de la visibilité sur internet.</h1>
    <p></p>
    <div class="my-2 row">
        <h4>Les objectifs :</h4>
        <p class="col-8">
            Dans un monde professionnel où la présence d'une image sur internet est obligatoire, il semblait pertinent de créer des outils permettant de créer et suivre la progression de cette dernière sur internet.
            Datactive devait être cette application modulaire (c'est à dire qu'on pouvais acheter un ou plusieur modules de la plateforme),
            aidant les entreprise à créer et suivre leurs images sur internet et à voir position qui avait sur le web.
            Pour ma part une grande partie de mon travail à était de récolter de différentes manières les positions des fiches googles dans le google local pack selon une recherche.
        </p>
        <div class="col-4 row">
            <img class="col-12" height="250" width="300" src="{% static 'img/Google_local_pack.png' %}" />
            <em class="col-12 text-center">Image du Google local pack</em>
        </div>
    </div>
    <div class="my-2 row">
        <h4>Le contexte :</h4>
        <p class="col-8">
            Datactive se divisés en plusieurs modules : CRM, Enrichissement(Pouvoir chercher et trouver des nouveaux contacts commerciaux), E-réputation (statistiques KPI du rendement de leur fiches), Performance(Suivi et analyse de la fiche Google), Publication(Wordpress, Insta, Facebook, LinkedIn), Activation (Saisis de données clients pour faire de l'emailing)
            Lors de mon arrivée, sur le projet, certains modules comme  était déjà développer et d'autre rester à faire. Le projet était fait en <a href="">Python</a> sous le CMS <a href=""> Django</a> avec une base de données <a>SQL</a> sous le moteur <a>MariaDb</a>.
            
        </p>
        <div class="col-4 row">
            <img class="col-12" height="250" width="300" src="{% static 'img/position_google.png' %}" />
            <em class="col-12 text-center" >Image où Intech Ivry est dixième dans la recherche 'école ingénerie Paris'</em>
        </div>
    </div>
    <div class="my-2">
        <h4>L’enjeu :</h4>
        <p>
            L'enjeu pour l'entreprise était primordiale, Avenir Data était avant une entreprise de service qui essaye de créer son propre produit et son image, en essayant de créer une plateforme.
            Réunissant tous les outils pour l'optimisation de sa présence sur les réseaux et sur google et créer les campagnes ciblés aux bon clients.
            Dans la particularité de mon travail les enjeux principaux étais de pouvoir correctement récolté la données lié à Google, correctement la stocké en base de données et pouvoir mettre en place une interface permettant à l'utilisateur de comprendre son placement sur google et l'améliorer.
        </p>
    </div>
    <div class="my-2">
        <h4>Les risques :</h4>
        <p>
            Le tout premier risque était dans la récole fiable des données, Google n'aiment pas les bots... autres que les leurs. 
            De ce fait, Google surveille tous ce qu'il se passe dans votre barre de recherche et le nombre de requête faite au serveur et via quelle IP. Alors pour évite ce problème nous avons du y remédier.
            Ensuite il fallait aussi les bons KPI et la bonne interface afin de montrer que notre outils était plus rapide et concis, que si l'utilisateur allait faire sa rechercher lui-même.
        </p>
    </div>
    <div class="my-2">
        <h4>Les étapes :</h4>
        <p>
            <ul>
                <li>
                    Tout d'abord en évitant le blocage dans le moteur en lui-même, il valait mieux que je ré-écrive l'url dans la barre de recherche plûtot qu'utiliser la page de recherche Google. Cela éviter aussi à notre bot de faire 2 actions de plus et donc de moins 'spammer'.
                </li>
                <li>
                    Ensuite même avec ce procédé, il peux arriver qu'en requêtant un certains nombre de fois par minute le serveur google, celui-ci vous metter un ban ip. Pour éviter la compléxité de ce problème et les problèmes futur que cela pourrait engendrer, j'ai du trouver le moyen de résoudre ce problème. Une partie de la solution à été de divisés les requêtes sur 2 serveurs dans un premier temps. 
                    Cela n'ayant pas suffit, il à donc fallus mettre en place un système de détection d'erreur, et dans ce cas, redémarrer le programme afin qu'il puisse repartir de 0 lui-même, en modifiant le user-agent (le user-agent d'un navigateur est comme sa carte d'identité).
                </li>
                <li>
                    En parralèle, nous avions une personne qui s'occuppait de maquetter et créer toutes les interfaces nécessaire pour la plateforme Datactive.
                </li>
                <li>
                    Une fois cela fait, il ne manquait plus qu'a automatiser ce principe, aux heures voulus. Et préparer tous le service métier à mettre en place dans notre backend de l'application pour l'interface.
                </li>
                <li>
                    Manquait plus que les test en préproduction pour valider et dernier retours, si des erreurs était detécté et tout envoyer sur le serveur de production après cela! 
                </li>
            </ul>
        </p>
    </div>
    <div class="my-2">
        <h4>Mon ressenti :</h4>
        <p>
            Ce projet m'as permis de développer et rééllement appréhender toute l'envergure de Python, manipulation de données, nombre de librairie et possibilités importantes, CMS Web, Python est clairement l'un des langages les plus utilisés de par ça facilité d'appréhension et sa capacité à être optimisé jusqu'a être compilé en C.
            Le Scraping est vraiment une méthode intérressantes surtout pour moi qui traite de la donnée. J'en connais maintenant sa source et comment la récupèrer ce qui est un plus.
            Ma capacité à manipuler et créer des programmes grâce au multiples facettes de ce projet et Python, m'ont permis de grandement m'améliorer sur la réusabilité de mon code, son optimisation et l'intérêt d'utiliser des librairies ou non selon la situation.
        </p>
    </div>
    <div class="col-lg-8 col-12 mt-5">
        <h5>Les compétences utilisés sur le projet sont :</h5>
        <ul class="px-5">
            <li>
                <a href="{% url 'web:sql-desc' %}" target="_blank" class="text-info"><u>SQL (Manipulation & analyse des données)</u></a>
            </li>
            <li>
                <a href="{% url 'web:bdd_relationnal-desc' %}" target="_blank" class="text-info"><u>Base de données relationnelles (Stockage & mise en relations des données)</u></a>
            </li>
            <li>
                <a href="{% url 'web:python-desc' %}" target="_blank" class="text-info"><u>Python (Programme de récupération des données sur internet)</u></a>
            </li>
            <li>
                <a href="https://www.djangoproject.com/start/overview/" target="_blank"  class="text-info"><u>Python (Script de récupération des données et envois d'email)</u></a>
            </li>
        </ul>
    </div>
    <div class="col-lg-4 col-12 mt-5">
        <h5>Autres liens :</h5>
        <ul>
            <li>
                <a href="https://pypi.org/project/selenium/" target="_blank"  class="text-info"><u>Selenium (librairie permettant la manipulation d'un navigateur)</u></a>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}