{% extends 'base.html' %}
{% load static %}
{% block title %}Datactive - Portfolio Xavier{% endblock %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'img/photo_lkd.jpg' %}"/> {% endblock favicon %}
{% block content %}
<div class="container row mx-auto h-100 my-lg-0 mt-5 pb-5" style="padding-top: 100px;">
    <h1 class="text-center my-5 link-info">Datactive </h1>
    <div>
        <img src="{% static 'img/work_progress.gif' %}" alt="Explique que le travail est en cours" class="logo">
    </div>
</div>
{% endblock content %}