{% extends 'base.html' %}
{% load static %}
{% block title %}Génération d'email - Portfolio Xavier{% endblock %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'img/photo_lkd.jpg' %}"/> {% endblock favicon %}
{% block content %}
<div class="container row mx-auto h-100 my-lg-0 mt-5 pb-5" style="padding-top: 100px;">
    <h1 class="text-center my-5 link-info">Génération d'email</h1>
    <img src="{% static 'img\work_progess.gif' %}" alt="Explique que le travail est en cours">
</div>
{% endblock content %}