{% extends 'base.html' %}
{% load static %}
{% block title %}Würth - Portfolio Xavier{% endblock %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'img/photo_lkd.jpg' %}"/> {% endblock favicon %}
{% block content %}
    <div class="container row mx-auto h-100 my-lg-0 mt-5 pb-5" style="padding-top: 100px;">
        <h1 class="text-center my-5 link-info">Würth, la demande d'outils 2.0</h1>
        <div>
            Contexte :
            En tant qu'alternant en développement logiciel, j'ai participé à la création d'une application web pour l'entreprise Wurth France. Cette entreprise fournit de l'outillage sur mesure aux artisans selon des besoins techniques spécifiques sur le chantier. Le but du projet était de créer des formulaires personnalisés pour chaque besoin tout en étant malléables et adaptés à toutes les modifications futures. L'objectif était également de simplifier les demandes d'outillages pour chaque artisan et de rendre l'application plus générique et facile à créer pour ceux qui génèrent les formulaires grâce à une interface d'administration.

            Problématique :
            La principale problématique du projet était de créer une application qui répondait aux besoins techniques spécifiques des artisans tout en étant malléables et génériques pour les futurs besoins. Il était également important de simplifier les demandes d'outillages pour chaque artisan et de rendre l'application facile à utiliser. 
            Enfin, il fallait développer une interface d'administration qui permettait de générer des formulaires adaptés à tous les besoins et toutes les modifications futures.
            Nous devions donc permettre aux ingénieurs de Würth de créer et modifier via une interface des formulaires, qui permettait de faciliter la demande d'outillages faites par les professionnels, tout en facilitant le processus à faire par les artisans, de leur permettre de faire leur demande d'outillage facilement sur internet directement depuis leur téléphone sur un chantier par exemple

            Création :
            Pour répondre à cette problématique, nous avons développé une interface Angular lié à une API Java avec une base de données SQL pour gérer le stockage des formulaires créer par l'équipe technique de Würth et ainsi modeler ces derniers pour faciliter la démarche de demandes d'outillages des artisant et guidez leurs demandes afin de faciliter la compréhension entre les 2 parties.
            Nous avons également développé des fonctionnalités pour suivre l'état des demandes en temps réel et pour faciliter la communication entre les artisans et l'équipe Wurth France.

            Évolution :
            Au fil du temps, l'application a évolué pour répondre aux besoins des utilisateurs. Nous avons ajouté de nouvelles fonctionnalités pour faciliter encore plus la gestion des demandes d'outillages. Nous avons également amélioré l'interface d'administration pour permettre une création plus facile et plus intuitive des formulaires.
            Les potentiels évolution à mettre en place dans le futur c'est de permettre aux artisans de partager des remarques sur le processus effectuer et demandez de l'aide e ntemps réel, et aussi de pouvoir intégrer une messagerie dès qu'un formulaire est terminé par un artisan afin de créer une relation entre l'équipe technique de Würth qui dois délivrer l'outillage et l'artisan.
            
            Mon expérience :
            Cette expérience a été très enrichissante pour moi. 
            En tant que Scrum-master de l'équipe de développement, j'ai appris à travailler en collaboration avec l'équipe et à organiser les sprints pour atteindre les objectifs du projet.
            J'ai également eu l'opportunité de travailler du côté de l'API, ce qui m'a permis de découvrir et d'acquérir des compétences en développement back-end. 
            Enfin, j'ai pu développer mes compétences en communication et en gestion de projet en travaillant en étroite collaboration avec le client. 
            Le projet a été un succès et l'application a permis de simplifier les demandes d'outillages pour chaque artisan tout en étant plus générique et plus facile à créer pour les ingénieurs de Würth qui génèrent les formulaires grâce à l'interface d'administration.

            Malheuresement à ce jour, ce projet n'as pas vu le jour et les artisans malheuresement doivent faire encore leur demande de façon complexe(en remplissant un docx) et lourde dans leur emplois du temps.

            Les compétences que j'ai utilisés :
            <ul class="px-5">
                <li>
                    <a href="{% url 'web:bdd_relationnal-desc' %}" class="text-info"><u>Base de données relationnelles (Stockage & mise en relations des données)</u></a>
                </li>
                <li>
                    <a href="{% url 'web:api-desc' %}" class="text-info"><u>API (Stockage des formulaires et des demandes)</u></a>
                </li>
                <li>
                    <a href="{% url 'web:project-desc' %}" class="text-info"><u>Gestion de projet agile</u></a>
                </li>
                <li>
                    <a href="{% url 'web:team-desc' %}" class="text-info"><u>Gestion d'équipe</u></a>
                </li>
                <li>
                    <a href="{% url 'web:comm-desc' %}" class="text-info"><u>Communication</u></a>
                </li>
            </ul>
            <div class="row">
                Technologie associés :
                <ul>
                    <li>Java</li>
                    <li>Maven</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>MariaDB</li>
                </ul>
            </div>
            <a href="https://eshop.wurth.fr/" class="text-link"><u>Qu'est ce que Würth ?</u></a>
        </div>
    </div>
{% endblock content %}