{% extends 'base.html' %}
{% load static %}
{% block title %} Recherche & Developpement - Portfolio Xavier{% endblock %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'img/photo_lkd.jpg' %}"/> {% endblock favicon %}
{% block content %}
<div class="container row mx-auto h-100 my-lg-0 my-5 pb-5" style="padding-top: 100px;">
    <h1 class="text-center my-5 text-info"> R&D (Recherche & Développement)</h1>
    <p>
        La fonction Recherche & Développement (R&D) regroupe l'ensemble des processus qui visent à transformer la recherche fondamentale ou les inventions en solutions technologiques réalisables sur le plan industriel. Elle englobe toutes les étapes nécessaires pour passer du laboratoire de recherche à la production en usine.
    </p>
    <p>
        La première étape est d’identifier clairement la problématique que rencontre le client, par la suite il est convenu de chercher des solutions viables compte tenu des ressources techniques et humaines à notre disposition. Une fois cela mis en place, une phase de test est obligatoire pour vérifier si nos attentes sont conformes à notre besoin.
    </p>
    <p>
        La recherche et développement est une compétence utilisée en permanence dans mon métier de data engineer / scientist, j’occupe en effet le rôle de chef de projet sur de nombreux travaux, qui m’induit à me documenter pour pouvoir présenter les solutions les moins chronophages et les plus rentables à mon entreprise. Cette compétence s’appuie sur de la communication avec les équipes de notre entourage, mais aussi sur l’évaluation des enjeux d’un projet et des atouts de chacun pour résoudre une problématique.
    </p>
    <p>
        Très souvent, nous fabriquons des maquettes que je propose à mon patron, qui, après discussion, valide ensuite le lancement d’un projet. Les maquettes produites pour une application Web peuvent être des dessins numériques ou même manuscrits ou la schématisation d'un processus pour répondre à d'autre demandes.
    </p>
    <p>
        Une des plus grandes difficultés est de réussir à trouver des solutions viables, fonctionnelles et pragmatiques en un temps imparti dans notre quotidien d’ingénieur logiciel.
    </p>
    <p>
        En tant que data engineer, la R&D (Recherche et Développement) joue un rôle essentiel dans mon domaine. Voici pourquoi  :
        <ul class="px-5">
            <li>
                <span>Exploration de nouvelles technologies </span>
            </li>
            <li>
                <span>Innovation dans la gestion des données </span>
            </li>
            <li>
                <span>Évaluation des nouvelles méthodologies </span>
            </li>
            <li>
                <span>Résolution de problèmes complexes </span>
            </li>
        </ul>
    </p>
    <p>
        Un exemple concret de ma participation à des projets de R&D est celui où j'ai travaillé sur la détection d'erreurs dans les fichiers clients et la correspondance avec notre liste d'entreprises grâce à un algorithme s'appuyant sur l'intelligence artificielle.
        Cette approche nous a permis de proposer un processus de qualification des contacts et des entreprises en utilisant des données provenant de l'INSEE et de fiches Google. De plus, nous avons développé une fonctionnalité de génération d'e-mails,
        offrant ainsi un potentiel considérable en termes de récupération de données commerciales sur Internet et de croisement avec notre base existante.
    </p>
    <p>
        Je situe mon niveau de compétence a initié actuellement. Je m’appuie notamment sur mes compétences de gestion de projet. Je pense avoir une grande marge de progression dans cette compétence que je trouve particulièrement intéressante à force de constater que la progression vient avec l’expérience que l’on acquiert au cours des projets.
    </p>
    <p>
        Je suis conscient de la nécessité d'améliorer mes compétences en R&D, et je suis convaincu que cette progression viendra avec l'expérience accumulée tout au long de mes projets.
        J'ai eu la chance de bénéficier de l'expertise de mon tuteur, qui travaille depuis de nombreuses années dans le domaine du marketing B to B, et qui m'a appris à comprendre rapidement les besoins des clients et à leur proposer des solutions adaptées.
        En somme, la R&D est un processus essentiel pour innover, résoudre des problèmes complexes et transformer les idées en réalité industrielle.
        Je suis enthousiaste à l'idée de continuer à développer mes compétences en R&D et de contribuer à la création d'applications et de solutions technologiques avancées dans mon domaine professionnel.
    </p>
    <div class="col-lg-8 col-12 mt-5">
        <h5>Cette compétence est trés utiles dans tous mes projets :</h5>
        <ul class="px-5">
            <li>
                <a href="{% url 'web:datactive-project' %}" class="text-info" target="_blank">Datactive</a>
            </li>
            <li>
                <a href="{% url 'web:hierarchy-project' %}" class="text-info" target="_blank">Qualification hiérarchique</a>
            </li>
            <li>
                <a href="{% url 'web:scraping-project' %}" class="text-info" target="_blank">Scraping Web</a>
            </li>
            <li>
                <a href="{% url 'web:generation_email-project' %}" class="text-info" target="_blank">Génération d'email</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-4 col-12 mt-5">
        <h5>Autres liens :</h5>
        <p><a href="#" target="_blank" class="text-info">En savoir plus sur l'utilité de la R&D <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
    </div>
</div>
{% endblock content %}