body {
    background-color: #252525;
    opacity: 1;
    background-image: radial-gradient(#000000 0.45px, #252525 0.45px);
    background-size: 9px 9px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, strong, em {
    color: white !important;
}

/* Custom styles */
.top-banner {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ), url('../img/banner.jpeg');
    background-size: cover;
}

.bg-dark-perso {
    background-color: rgba(33, 37, 41, 0.9) !important;
}

img {
    border-radius: 10px;
}