.timeline{
padding: 32px 18px 0 0;
    color: #10caf0;
text-align: center;
min-height: 140px;
border: 4px dotted #10caf0;
border-radius: 20px;
display: block;
position: relative;
    text-decoration: none;
}
.timeline-left {
    margin: 0 50px 70px 0;
}
.timeline-right {
    margin: 0 0 70px 50px;
}
.timeline-year-left, .timeline-year-right{
color: white;
font-size: 30px;
font-weight: 700;
line-height: 30px;
transform: translateY(-50%) rotate(90deg);
position: absolute;
top: 50%;
}
.timeline-year-left{
right: -200px;
}
.timeline-year-right{
left: -200px;
}
.timeline-icon-left, .timeline-icon-right{
position: absolute;
top: -51px;
z-index: 1;
    height: 100px;
    width: auto;
}
.timeline-icon-left{
left: 20px;
}
.timeline-icon-right{
right: 20px;
}
.title{
margin: 0 0 5px;
}
.description{
margin: 0;
}
@media screen and (max-width:576px){
.timeline{
width: 100%;
padding: 33px 0 0;
margin: 0 0 30px;
}
.timeline-year{
transform: translateX(0) translateY(0);
top: -33px;
left: auto;
right: 20px;
}
}