{% extends "base.html" %}
{% block content %}
    <div class="top-banner">
        <div class="container my-auto" style="padding-top: 60px;">
            <h1 class="text-center mt-5">Me contacter</h1>
            <p class="text-center mb-5">Faire appel à mes services</p>
            <div class="row mt-5">
                <div class="col mx-lg-5">
                    <div class="card p-lg-5 p-2">
                        <div class="row">
                            <div class="col-2">
                                <em class="fa-solid fa-envelope fa-3x text-black"></em>
                            </div>
                            <div class="col">
                                <h4 class="text-black">Email</h4>
                                <p><u><a href="mailto:email@xavier@trauchessec.fr" class="text-info">xavier@trauchessec.fr</a></u></p>
                                <p class="text-black">Délai de réponse sous 48 heures. Pour les demandes spécifiques et détaillées de préférence.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mx-lg-5 mx-2">
                    <div class="card p-lg-5 p-2 mt-lg-0 mt-5">
                        <div class="row">
                            <div class="col-2">
                                <em class="fa-solid fa-phone fa-3x text-black"></em>
                            </div>
                            <div class="col">
                                <h4 class="text-black">Téléphone</h4>
                                <p><u><a href="tel:+33675166915" class="text-info">+33 6 75 16 69 15</a></u></p>
                                <p class="text-black">Délai de réponse sous 24 heures.<br>Appels privilégiés, mais les SMS sont aussi bienvenus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <h5>Ceux en qui je place ma confiance..</h5>
                    <div class="card col-3 mx-lg-5 p-lg-5 mt-4">
                        <h6>Perrine Oswald</h6>
                        <div>

                        </div>
                    </div>
                    <div class="card col-3 mx-lg-5 p-lg-5 mt-4">
                        <h6>Cyril Maisuesche</h6>
                        <div>
                            
                        </div>
                    </div>
                    <div class="card col-3 mx-lg-5 p-lg-5 mt-4">
                        <h6>Arnaud Prière</h6>
                        <div>
                            
                        </div>
                    </div>
                    <div class="card col-3 mx-lg-5 p-lg-5 mt-4">
                        <h6>Fabienne Ferrand</h6>
                        <div>

                        </div>
                    </div>
                    <div class="card col-3 mx-lg-5 p-lg-5 mt-4">
                        <h6>Vincent Trapon</h6>
                        <div>
                            
                        </div>
                        <a href="#"></a>
                    </div>
                    <div class="card col-3 mx-lg-5 p-lg-5 mt-4">
                        <h6>Lucas Anouar</h6>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}