{% extends "base.html" %}
{% block content %}
    <div class="top-banner">
        <div class="container" style="padding-top: 100px;">
            <h1 class="text-center mt-5">Me contacter</h1>
            <p class="text-center mb-5">Faire appel à mes services</p>
            <div class="row mt-5">
                <div class="col mx-5">
                    <div class="card p-5">
                        <div class="row">
                            <div class="col-2">
                                <em class="fa-solid fa-envelope fa-3x"></em>
                            </div>
                            <div class="col">
                                <h4 class="text-black">Email</h4>
                                <p><u><a href="mailto:email@email.com" class="text-info">email@email.com</a></u></p>
                                <p class="text-black">Délai de réponse sous 48 heures. Pour les demandes spécifiques et détaillées de préférence.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mx-5">
                    <div class="card p-5">
                        <div class="row">
                            <div class="col-2">
                                <em class="fa-solid fa-phone fa-3x"></em>
                            </div>
                            <div class="col">
                                <h4 class="text-black">Téléphone</h4>
                                <p><u><a href="tel:0760747401" class="text-info">+33 7 79 79 79 69</a></u></p>
                                <p class="text-black">Délai de réponse sous 24 heures.<br>SMS privilégiés, mais les appels sont aussi bienvenus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}