{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="top-banner">
        <div class="container row mx-auto h-100 my-lg-0 mt-5 pb-5" style="padding-top: 100px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center my-auto">
                <img src="{% static 'img/photo_lkd.jpg' %}" alt="image de ma magnifique personne" class="w-50">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center my-auto">
                <h1 class="mt-5">Xavier TRAUCHESSEC</h1>
                <h3>Expert en ingénierie du logiciel</h3>
                <h3 class="my-lg-5 my-2">
                    <a href="https://www.linkedin.com/in/xavier-trauchessec/" target="_blank"><em class="fa-brands fa-linkedin fa-2x text-info"></em></a>
                </h3>
                <button class="btn btn-info mt-lg-5 mt-2">
                    <a href="{% static 'files/CV_Xavier_Trauchessec.pdf' %}" download="CV_Xavier_Trauchessec.pdf" class="text-black">
                        <span class="text-base"></span>
                        <span class="ml-2">Télécharger mon CV</span>
                    </a>
                </button>
                <p class="mt-2">.pdf - 1 Mo</p>
            </div>
        </div>
    </div>
{% endblock content%}