{% extends 'base.html' %}
{% load static %}
{% block title %}Mon Portfolio{% endblock %}
{% block favicon %} <link rel="shortcut icon" type="image/png" href="{% static 'img/photo_lkd.jpg' %}"/> {% endblock %}
{% block content %}
<div class="container">
    <h2>Connexion</h2>
    <form method="post">
        {% if error_msg %}
            {% include 'includes/messages.html' %}
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" class="form-control" id="username" name="username" {% if username %} value="{{username}}" {% endif %} >
        </div>
        <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input type="password" class="form-control" id="password" name="password" {% if password %} value="{{password}}" {% endif %}>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
</div>
{% endblock %}