<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog {% if centered is True %} modal-dialog-centered {% endif %}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="exampleModalLabel">{{ titre }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center text-black">
                    {{ message }}
                </p>
                {% if fs_link %}
                    <p><a href="{{ link }}" target="_blank" class="link-info">{{ fs_msg_link }}</a></p>
                {% endif %}
                {% if sd_link %}
                    <p><a href="{{ link }}" target="_blank" class="link-info">{{ sd_msg_link }}</a></p>
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if to_validate is True %}
                    <button type="button" class="btn btn-primary">Valider</button>
                {% endif %}
                {% if to_cancel is True %}
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
                {% endif %}
                {% if to_close is True %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
