{% extends "base.html" %}
{% load static %}
{% block title %}Kuru-game - Mon Portfolio{% endblock %}
{% block content %}
    <div class="container mt-5">
        <script src="{% static 'js/Kurugames/phaser.js' %}"></script>
        <script src="{% static 'js/Kurugames/objets/player.js' %}"></script>
        <script src="{% static 'js/Kurugames/objets/world.js' %}"></script>
        <script src="{% static 'js/Kurugames/main.js' %}"></script>
        <script src="{% static 'js/Kurugames/initGame.js' %}"></script>
    </div>
{% endblock content %}