{% extends 'base.html' %}
{% load static %}
{% block title %}Communication - Portfolio Xavier{% endblock %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'img/photo_lkd.jpg' %}"/> {% endblock favicon %}
{% block content %}
    <div class="container row mx-auto h-100 my-lg-0 my-5 pb-5" style="padding-top: 100px;">
        <h1 class="text-center my-5 text-info">La communication, l'outil pour réussir un projet</h1>
     
        
        <p>
            Il existe plusieurs éléments clés sur lesquels les individus peuvent travailler pour améliorer leur compétence
            de communication:
        </p>
        <div class="row">
            <div class="col-8">
                <ul class="px-5">
                    <li>
                        <p>
                            <strong>Écoute active :</strong><br>L'écoute active est une compétence clé pour améliorer la communication.
                            Elle implique d'écouter attentivement l'autre personne, de poser des questions et de clarifier les points
                            qui ne sont pas compris.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Clarté :</strong><br>La clarté est essentielle pour une communication efficace. Les individus doivent
                            s'assurer que leur message est clair, concis et compréhensible pour leur interlocuteur.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Adaptabilité :</strong><br>L'adaptabilité est importante pour s'assurer que le message est adapté à
                            l'interlocuteur. Les individus doivent être capables de s'adapter à différents styles de communication et
                            de comprendre les besoins de leur interlocuteur.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Gestion des émotions :</strong><br>La gestion des émotions est importante pour éviter les conflits
                            et améliorer la communication. Les individus doivent être capables de gérer leurs émotions et de comprendre
                            celles des autres pour éviter les malentendus et les conflits.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-4 my-auto pb-5">
                <img src="{% static 'img/competences_humaines/communication.jpeg' %}" alt="Image de communication entre personnes" class="w-100">
            </div>
        </div>
        <p>
            Durant mon alternance à Avenir Data, ayant repris le pôle data, je me devais d'être meilleur en communication que je ne l'étais, j'ai donc essayer de créer des routines dans l'équipe
            afin de pouvoir améliorer la communication et la cohésion du groupe. J'ai tout d'abord expérimenter cela par la mise en place de deux régles, simple : 
            <ul>
                <li> Daily Meeting journalier dès l'arrivé au bureau, pour expliquer les tâches en cours, estimation du temps restant sur la tâche.</li>
                <li> Dès qu'une personne change de tâche ou rencontre un problème qu'il ne connais pas, il communique dessus (Cela à grandement améliorer le transfert de connaissance)</li>
            </ul>
        </p>
        <p>
            En conclusion, la compétence de communication est cruciale dans la vie professionnelle et personnelle. Les individus
            doivent travailler sur l'écoute active, la clarté, l'adaptabilité et la gestion des émotions pour améliorer leur
            communication. Cependant, la compétence de communication est un processus continu et les individus doivent
            rester ouverts aux nouvelles pratiques et aux nouvelles technologies pour continuer à améliorer leur communication.
        </p>
        <p>
            Je dirais acutellement avoir un bon niveau de communication, sachant utilisé concrétement dans mon travail,
            les services de mail afin de garder une trace des réunions et des choix faits par les partis prenantes et de
            messagerie instantanées pour être le plus réactif possible sur mes projets.
        </p>
        <p>
            Je souhaite continuer d'améliorer cette communication grâce aux outils de gestion utilisés, comme Jira ou Github,
            que j'ai déjà commencé à utilisé mais dont aujourd'hui je ne n'utilise pas encore toutes les possibilités.
            En plus de cela, étant maitenant entrepreneur, je me dois d'améliorer la capacité de communication comme le niveau de communication envers les clients.
            L'un des atouts que j'ai est que je sais adapter les mots utilisés selon les personnes que j'ai en fassent de moi.
        </p>
        <h5 class="mt-5">Cette compétence m'as été utiles dans les projets :</h5>
        <ul class="px-5">
            <li>
                <a href="{% url 'web:SAM_DLF-project' %}" class="text-info" target="_blank">SAM</a>
            </li>
            <li>
                <a href="{% url 'web:datactive-project' %}" class="text-info" target="_blank">Datactive</a>
            </li>
            <li>
                <a href="{% url 'web:wurth-project' %}" class="text-info" target="_blank">Würth</a>
            </li>
        </ul>
    </div>
{% endblock content %}